<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="strCon" connectionString="SERVER=den1.mssql7.gear.host;DATABASE=helloworld3;USER=helloworld3;PASSWORD=Kh26M?_E7yxJ"
   providerName="System.Data.SqlClient" />
  <add name="WinFormsApp.Properties.Settings.helloworld3ConnectionString"
   connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=helloworld3;Persist Security Info=True;User ID=helloworld3"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>